
.reaction {
    background-color: #fff7f7;
    color: #ff5555
}

.memory {
    background-color: #fffcf4;
    color: #ffb21e;
}

.verbal {
    background-color: #f3fcfa;
    color: #00bb8f
}
.visual {
    background-color: #f4f5fd;
    color: #1125d6
}

.reaction,  
.memory, 
.verbal,
.visual
    {
    width: 288px;
    height: 56px;
    border-radius: 12px;
    margin-bottom: 16px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.description {
    display: flex;
    gap: 12px;
}

.description img {
    width: 20px;
    height: 20px;
}

.result-from {
    font-size: 18px;
  font-weight: bold;
  color: #303b59;
}

.result-from span {
    color: #303b59;
    opacity: 0.5;
}